<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nys.role_module.dao.RoleModuleMapper" >
  <resultMap id="BaseResultMap" type="com.nys.role_module.domain.RoleModule" >
    <constructor >
      <idArg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="module_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.nys.role_module.domain.RoleModule" >
    delete from role_module
    where role_id = #{roleId,jdbcType=INTEGER}
      and module_id = #{moduleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nys.role_module.domain.RoleModule" >
    insert into role_module (role_id, module_id)
    values (#{roleId,jdbcType=INTEGER}, #{moduleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nys.role_module.domain.RoleModule" >
    insert into role_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>