*{
    margin: 0;
    padding: 0;
}
body{
    width: 1920px;
    background-color: white;
    /*font-family: 楷体;*/
}
a{
    text-decoration-line: none;
    color: black;
}
.head{
    background-color: rgb(233,233,233);
    /*border: solid 1px black;*/
    height: 95px;
}
.log{
    float: left;
    margin: 20px;
    /*border: solid 1px black;*/
    height: 55px;
    width: 355px;
}
.log img{
    float: left;
}
.log .word1
{
    line-height: 55px;
    /*border: solid 1px black;*/
    height: 55px;
    float: left;
    margin-bottom: 30px;
}
.log .word2{
    float: left;
    width: 150px;
    /*border: solid 1px black;*/
    font-size: 25px;
    font-family: 黑体;
    /*margin-bottom: 20px;*/
    line-height: 55px;
    margin-left: 15px;
}
.body{
    width: 96%;
    height: 780px;
    /*border: solid 1px black;*/
    margin: 30px auto;
    background-color: rgb(233,233,233);
}
.nav{
    /*border: solid 1px black;*/
    margin-top: 10px;
    border-radius:30px;
    width: 200px;
    height: 760px;
    background-color: rgb(200,200,200);
}
#user{float: right;
    height: 50px;
    width: 300px;
    /*border: solid 1px black;*/
    margin-top: 20px;
    /*background-color: black;*/
    text-align: center;
    line-height: 50px;

}