<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="bean.Person">
        <constructor-arg name="name" value="张三"/>
        <property name="map">
            <map>
                <entry key="dsad" value="dsad"/>
                <entry key="324" value="654654"/>
                <entry key="dwr" value="hjt"/>
            </map>
        </property>
        <property name="list">
            <list>
                <value>dsad</value>
                <value>d54g</value>
                <value>hjj</value>
            </list>
        </property>
        <property name="array">
            <array>
                <value>dsad</value>
                <value>d54g</value>
                <value>hjj</value>
            </array>
        </property>
    </bean>
</beans>